@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}
body{
    background-color: #04b2d969;
}

section{
    background-color: rgb(49, 148, 178);
}

header > h1 {
    margin: 9px;
    padding: 20px;
    text-align: center;
    font-size: 50px;
}

header > nav > p{
    display: inline-block;
    margin: 15px 4px 18px 18px;
    padding: 10px 0px 16px 11px;
}

#texto{
    margin-bottom: -3px;
    padding-top: 23px;
}

h2{
    margin: 15px 4px 18px 18px;
    text-align: center;
}

nav > img{
    padding-left: 10px;
    width: 30px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

#formatação{
    display: flex;
    position: absolute;
    top: 155px;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    width: 500px;
    margin-top: 27px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

section h2 {
    font-size: 2.5rem;
    margin: 2rem;
}

section form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

footer > p {
    margin: 25px;
    padding: 5px;
    text-align: center;
}

footer > nav > a > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 4%;
}

a{
    color: black;
}

a:hover{
    text-decoration: underline red;
}

form label{
    color: #f5f5f5;
    font-size: 17px;
    margin-bottom: 4px;
}

form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transform: all 0.5s;
}

form input:focus{
    border-radius: 16px;
}

form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transform: all 0.5s;
}

form textarea:focus{
    border-radius: 16px;
}

form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
    transition: all 1s;
    margin-bottom: 20px;
}

form button:hover{
    background: #f5f5f5;
    color: black;
    border: 16px;
}

@media screen and (max-width: 600px) {
    section{
        width: 450px;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    section{
        width: 550px;
    }
}

@media screen and (min-width: 789px) and (max-width: 1024px) {
    section{
        width: 650px;
    }
}



@media screen and (min-width: 1024px) and (max-width:1920px){
    section{
        width: 750px;
    }
}

@media screen and (min-height: 400px) and (max-height: 800px){
   
}