@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    text-align: justify;
    text-decoration: none;
    font-family: 'Lora', serif;
}


header > h1 {
    margin: 9px;
    padding: 20px;
    text-align: center;
}

header > nav > p{
    display: inline-block;
    margin: 15px 4px 18px 18px;
    padding: 10px 0px 16px 11px;
}

body{
    background-color: #04b2d969;
}


main > h2{
    margin: 25px;
    padding: 5px;
}

main > p{
    margin: 25px;
    padding: 5px;
}

footer > p {
    margin: 25px;
    padding: 5px;
    text-align: center;
}

a{
    color: black;
}

a:hover{
    text-decoration: underline red;
}
